.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 999px;
  width: fit-content;
  cursor: pointer;
  color: var(--primary-font-color);
  outline: none;
}
